section {
  position: relative;
  float:right;
  width: 60%;
  padding: 5%;
  margin-bottom: 20%;

}

h1 {
  position:relative;
  top: 5px;
  text-align: center;
  font-size: 33px;
}

#blogList {
  position: fixed;
  float: left;
  padding: 5%;
  top: 100px;
  left: 50px;
  font-size: 20px;
}

#networkList {
  bottom: 0px;
  width: 100%;
  text-align: center;
  word-spacing: 50px;
}

#networkList p {
  display: inline;
  font-size: 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  border-top: 2px solid black;
}

