nav {
  position: relative;
  padding-left: 65px;
}

ul {
  position: relative;
  margin: 20px 30px 30px 30px;
}

aside {
  float: left;
  margin-bottom: 100%;
}

aside li {
  width: 140px;
  padding-bottom: 15px;
}

footer {
  width: 100%;
}